body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

.lolsitoarcane {
    background-image: url("proyecto-final-cursofrontend-dev.f\imagenes-archivos-extra\riotx-arcane-key-art-wildrift.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 10em 0;
    margin-top: 60px;
}

main {
    padding: 2em;
    margin-top: 20px;
}

.rol {
    margin-bottom: 2em;
}

.campeones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.campeon {
    width: 30%;
    margin-bottom: 2em;
    border: 1px solid #ddd;
    padding: 1em;
    box-sizing: border-box;
    text-align: center;
}

.campeon img {
    max-width: 100%;
    height: auto;
    transition: filter 0.3s ease; /* Transición para el hover */
}

.campeon:hover img {
    filter: brightness(0.5); /* Oscurece la imagen al pasar el mouse */
}

.build ul {
    list-style: none;
    padding: 0;
}

.build li {
    margin-bottom: 0.5em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* display responsivo para smartphones y tablets */

@media (max-width: 768px) {
    .campeon {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .campeon {
        width: 90%;
    }
}